@media all {.cbsect_b547f460{padding-bottom: 100px; padding-top:  100px; background-color:  rgba(0, 0, 0, 0); }
.cbdiv_304187f5{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.cbdiv_eecf3492{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.cbdiv_49b93207{height:  100%; color: rgb(255, 255, 255); background-color:  rgb(255, 255, 255); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.6; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.cbcont_422f26d3{padding-top:  0px; padding-bottom:  0px; background-color:  rgba(0, 0, 0, 0); min-height: 20px; }
.cbdiv_5ea0c231{min-height: 275px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; margin-top:  0px; margin-bottom:  0px; }
.cbdiv_1c7d9f41{-webkit-box-orient:  vertical;-webkit-box-direction:  normal;-ms-flex-direction:  column;flex-direction:  column; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-flex:  1; -ms-flex:  1 1 0%; flex:  1 1 0%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.cbdiv_d014f572{padding:  2vw; color: #434343; text-align:  center; width:  65%; }
.cbimag_493be3f3{margin-top:  20px; width: 235px; margin-bottom:  20px; }
.cbdiv_8c25972c{min-height: 20px; }
.cbhead_465d55fb{line-height:  1.3em; margin-top:  0px; font-family:  Roboto; margin-bottom:  5px; font-size:  80px; font-weight: lighter; }
.cbhead_d2341174{line-height:  1.3em; margin-top:  0px; font-family: Roboto; padding-left:  2px; padding-right:  2px; }
.cbpara_cafcce31{line-height:  1.7em; opacity:  0.8; padding-left:  2px; padding-right:  2px; }
.cbdiv_920a9e44{min-height: 20px; }
.cbbsbu_99a21c7a{min-width: 100px; margin-top: 10px; margin-bottom: 5px; }
.cbdiv_cb23500b{min-height:  20px; margin-top:  10px; }
.cbicon_fd303e67{margin-right:  8px; font-size: 16px; }
.cbtext_8edc7665{color: inherit; }
.S_cbsect_909443b2{padding-bottom:  0px; padding-top: 115px; background-color:  rgb(67, 67, 67); }
.S_cbdiv_996972f5{position:  absolute; z-index:  0; bottom: 0; right: 0; top: 0; left: 0; }
.S_cbdiv_17c6a2e3{position:  relative; bottom:  0px; right:  0px; top:  0px; left:  0px; background-size: cover; background-position:  50% 50%; height:  100%; }
.S_cbdiv_6473235f{height:  100%; color:  rgb(255, 0, 255); background-color: rgb(74, 134, 232); background-image:  linear-gradient(140deg, currentcolor, transparent); opacity:  0.9; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; }
.S_cbcont_7c8ecfd2{padding-top:  0px; padding-bottom:  0px; background-color: rgba(0, 0, 0, 0); }
.S_cbdiv_0a05d9a0{-webkit-box-pack:  start; -ms-flex-pack:  start; justify-content:  flex-start; margin-bottom:  0px; position:  relative; -webkit-box-align:  stretch; -ms-flex-align:  stretch; align-items:  stretch; display:  -webkit-box; display:  -ms-flexbox; display:  flex; }
.S_cbdiv_6a2e2e17{-webkit-box-orient:  vertical;-webkit-box-direction:  normal;-ms-flex-direction:  column;flex-direction:  column; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-flex:  1; -ms-flex:  1 1 0%; flex:  1 1 0%; background-color: rgba(0, 0, 0, 0); }
.S_cbdiv_067c00bf{padding-top: 120%; position:  relative; overflow:  hidden; }
.S_cbimag_e3ccf7e5{width:  100%; height:  100%; position:  absolute; z-index:  0; bottom:  0px; right:  0px; top:  0px; left:  0px; -webkit-transform:  rotate(0deg) scale(1) translate(0%, 0%); -ms-transform:  rotate(0deg) scale(1) translate(0%, 0%); transform:  rotate(0deg) scale(1) translate(0%, 0%); transition:  all 1s ease; background-position: 50% 100%; background-attachment:  scroll; }
.S_cbdiv_9f7233fd{position:  absolute; min-height:  0px; background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0); }
.S_cbsvg_2e3bc615{height:  100%; width: 100%; }
.S_cbdiv_75fdf899{-webkit-box-orient:  vertical;-webkit-box-direction:  normal;-ms-flex-direction:  column;flex-direction:  column; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-flex:  1; -ms-flex:  1 1 0%; flex:  1 1 0%; -webkit-box-align:  center; -ms-flex-align:  center; align-items:  center; background-color: rgba(0, 0, 0, 0); }
.S_cbdiv_540b18e9{padding:  5vw 2vw 2vw; color:  white; text-align:  left; width:  100%; padding-top: 4vw; }
.S_cbdiv_4f77352d{min-height: 20px; }
.S_cbhead_209cb0d7{line-height:  1.3em; margin-top:  0px; font-family: SiYuanBold; margin-bottom:  5px; }
.S_cbhead_3e891722{line-height:  1.3em; margin-top:  0px; font-family:  Source-Han-Light; padding-left:  2px; padding-right:  2px; font-size:  40px; }
.S_cbpara_d3b13b56{line-height:  1.7em; opacity:  0.8; font-family:  -apple-system-font, "Helvetica Neue", Helvetica, sans-serif; padding-left:  2px; padding-right:  2px; margin-bottom: 15px; }
.S_cbcolu_c57b13fc{padding-left: 0px; padding-right: 0px; }
.S_cbimag_a2c89dbe{width: 185px; margin-bottom:  20px; }
.S_cbcolu_aee8a96f{padding-top: 32px; padding-left: 0px; }
.S_cbdiv_fa548790{min-height: 20px; }
.S_cblink_63ed8c45{color:  white; min-height:  50px; border-radius:  100px; border-style:  solid; border-width:  1px; max-width:  180px; margin-bottom:  15px; height:  50px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; -webkit-box-pack:  center; -ms-flex-pack:  center; justify-content:  center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.S_cbicon_0f10b01a{font-size:  30px; }
.S_cbpara_ccbf1d6e{margin-bottom:  0px; margin-left:  8px; }
.S_cbdiv_1d9e9d13{min-height:  20px; display:  -webkit-box; display:  -ms-flexbox; display:  flex; text-align: left; }
.S_cbdiv_ab72c959{-webkit-box-flex: 1;-ms-flex: 1;flex: 1; }
.S_cbtext_bfdb0313{max-width:  1000px; line-height:  1.7em; opacity:  0.9; font-size:  14px; display:  block; color: rgb(255, 255, 255); }
.S_cbdiv_482633d8{min-height:  20px; margin-top:  10px; }
.S_cbicon_99aa8e0f{margin-right:  8px; font-size: 16px; }
.S_cbtext_2205ec66{color: inherit; }
.S_cblink_63ed8c45:focus{color: #ffffff; }
.S_cblink_63ed8c45:hover{color: #ffffff; }
.cbdiv_d014f572::before{position: relative; }
.S_cbdiv_540b18e9::before{position: relative; }
} 
@media (max-width: 991px) {.cbdiv_d014f572{width:  95%; Width: 100%; }
.S_cbsect_909443b2{padding-top: 105px; }
.S_cbdiv_067c00bf{padding-top: 125%; }
.S_cbdiv_540b18e9{width:  100%; padding-top: 2vw; }
.S_cbhead_3e891722{font-size: 24px; }
.S_cbcolu_c57b13fc{width: 155px; }
.S_cbimag_a2c89dbe{width: 155px; }
.S_cbcolu_aee8a96f{padding-left: 15px; }
} 
@media (max-width: 767px) {.cbdiv_1c7d9f41{width: 320px; }
.cbdiv_d014f572{width:  95%; Width: 100%; }
.cbhead_465d55fb{width:  95%; Width: 100%; }
.cbpara_cafcce31{width:  95%; Width: 100%; }
.cbbsbu_99a21c7a{margin-bottom: 10px; }
.S_cbsect_909443b2{padding-top:  80px; padding-bottom: 35px; }
.S_cbdiv_0a05d9a0{-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse; }
.S_cbdiv_067c00bf{padding-top: 75%; }
.S_cbdiv_75fdf899{width: 320px; }
.S_cbdiv_540b18e9{width:  100%; padding-top:  4vw; padding-bottom:  4vw; text-align: center; }
.S_cbhead_209cb0d7{width:  95%; Width: 100%; }
.S_cbhead_3e891722{font-size: 24px; }
.S_cbpara_d3b13b56{width:  95%; Width: 100%; }
.S_cbimag_a2c89dbe{width: 180px; }
.S_cbcolu_aee8a96f{padding-top:  10px; }
.S_cblink_63ed8c45{margin-left:  auto; margin-right: auto; }
.S_cbdiv_1d9e9d13{-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; }
} 
@media (min-width: 768px) {} 
@media (min-width: 992px) {} 
@media (min-width: 768px) and (max-width: 991px) {} 